/* easyui样式修改 */
html,body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.panel-title{
	color: #fff;
	font-weight: 200;/*修改侧边一级文字颜色*/
}
.accordion .accordion-header{
	background: transparent;/*修改侧边一级背景透明*/
}
.easyui-accordion>div{
	border-bottom: 1px solid rgba(222, 212, 212, 0.37);
}
.easyui-accordion>div:last-child{
	border-bottom: none
}
.easyui-accordion>div>div{
	overflow:auto;padding: 0 10px 0 10px;
}
#west{
	width:240px;
}

.layout-panel-west {
	background-color: rgb(13, 111, 184);
}

.layout-panel-west .panel-header {
	padding: 10px 10px;
	border-bottom: none;
}
.accordion .accordion-header-selected{
	background-color: rgb(38, 75, 102);
}

.layout-panel-west .easyui-accordion {
	background-color: transparent;
}

.layout-panel-west .easyui-accordion p{
	transition: all 0.3s; 
	width: 90%;
	margin: 1px;
	padding-top: 4px;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
	border-radius: 0px;
	font-size: 14px;
	/* border-bottom: 1px #ccc dashed; */
}
.layout-panel-west .easyui-accordion p:hover{
	color: #fff !important;
	font-weight: 400;
	transform: translateX(14px);
	background: rgba(38, 75, 102,0.6) !important;
	border-radius: 5px;
	width: 75%;
	/* border-bottom: none; */
}

.layout-panel-west .panel-body {
	border: none;
	background: transparent;
}

.layout-panel-west .accordion-header {
	transition: all 0.3s;
	border-left: 10px rgb(13, 111, 184) solid !important;
}
.layout-panel-west .accordion-header:hover{
	border-left: 10px rgb(2100, 220, 10) solid !important;
}

.layout-panel-west .accordion-header-selected {
	border-left: 10px rgb(250, 220, 10) solid !important;
}

.layout-panel-west .panel-tool {
	right: 12px;
}

.layout-panel-west span.users-Hover {
	color: #fff;
	height: 6px ;
	width: 6px;
	border-radius: 50%;
	background: rgb(250, 220, 10) !important;
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
}
.layout-panel-west span.users-Click {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: rgb(250, 220, 10);
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
}

.layout-panel-west span.users-unClick {
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
}
.tabs{
	border-bottom: 1px solid rgba(83, 166, 226, 0.4);
}
#tt .tabs li{
	height: 26px;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background: linear-gradient(rgba(83, 166, 226,0.6), rgba(10, 111, 183,0.8));
}
#tt .tabs li a {
	color: #eee;
	border-bottom: none;
}
#tt .tabs-header {
	background: rgb(245, 245, 245);
}
#tt .panel-body{
	overflow: hidden;
}
#tt .tabs-selected>a:nth-child(1) {
	background: linear-gradient(rgb(83, 166, 226), rgb(10, 111, 183));
	color: #eee !important;
	border: 1px solid transparent;
	border-bottom: none;
	border-top: 1px solid rgb(83, 166, 226);
}

#tt .tabs li a.tabs-close {
	background: url(images/tabs_icons.png) no-repeat -34px center;
}

#tt .tabs li a.tabs-inner:hover{
	background-color:transparent;
}
#tt .tabs>li:hover {
	border-radius: 5px 5px 0 0;
	background: linear-gradient(rgb(83, 166, 226), rgb(10, 111, 183));
}

/* 用户自定义样式 */

.users-logo {
	float: left;
	display: inline-block;
	height: 45px;
	width: 45px;
	background: #9f9f9f;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	margin-left: 10px;
}

.users-title {
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	margin-left: 10px;
	color: #333;
}

.users-rigth-btn {
	float: right;
	position: relative;
	right: 20px;
}

.users-head {
	display: inline-block;
	height: 45px;
	width: 45px;
	text-align: center;
	background: #999;
	border-radius: 50%;
	margin: 0px 10px 0 0
}

.users-name {
	float: right;
	height: 45px;
	display: inline-block;
	line-height: 45px;
	font-size: 14px;
	color: #333;
}

.users-bottom-copy {
	box-sizing: border-box;
	color: #333;
	font-size: 13px;
	line-height: 25px;
	text-align: center;
	border-top:1px solid rgb(83,166,226);
	overflow: hidden;
}
